<p style="color: green"><%= notice %></p>

<% content_for :title, "Expenses" %>

<h1>Expenses</h1>

<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %> 
<p>Every expense for <%=@trip.name%></p>

<div class="actions mb-3">
  <%= link_to "Create New Expense   ", new_trip_expense_path(@trip), class: "btn btn-primary" %>
</div>
<div class="actions mb-3">
<%= link_to "Back to Trip", trip_path(@trip), class: "btn btn-secondary" %>
</div>

<p></p>

<table  class="mytable">
  <thead>
      <tr>
        <th>Description</th>
        <th>Amount</th>
        <th>Currency</th>
        <th>Date</th>
        <th>Paid By</th>
        <th>Shared With</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @expenses.each do |expense| %>
        <tr>
          <td><%= expense.description %></td>
          <td><%= number_to_currency(expense.amount) %></td>
          <td><%= expense.currency %></td>
          <td><%= expense.date.strftime("%b %d, %Y") %></td>
          <td><%= expense.payer&.name || 'Unknown' %></td>
          <td>
            <% if expense.participants.any? %>
              <%= expense.participants.map { |p| p.user.name }.join(', ') %>
            <% else %>
              All Participants
            <% end %>
          </td>
          <td>
            <%= link_to "View", trip_expense_path(@trip, expense), class: "btn btn-sm btn-info" %>
            <%= link_to "Edit", edit_trip_expense_path(@trip, expense), class: "btn btn-sm btn-warning" %>
          </td>
        </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="7">End of Expense List</td>
    </tr>
  </tfoot>
</table>

