<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || "Middleman" %></title>
    <link rel="stylesheet" href="<%= url_for('stylesheets/site.css.scss') %>">
    <link rel="stylesheet" href="<%= asset_path(:css, 'site.css') %>">
  </head>
  <body>
    <%= partial "partials/header" %>
    <%= yield %>
    <%= partial "partials/footer" %>
  </body>
</html>
