<!-- app/views/payments/_form.html.erb -->
<%= form_with(model: [@trip, @payment], local: true) do |form| %>
  <div class="field mb-3">
    <%= form.label :participant_id, "Participant (Payer)" %>
    <%= form.collection_select :participant_id, @trip.participants, :id, :name, 
        { prompt: "Select a participant" }, 
        class: "form-select", required: true %>
  </div>

  <div class="field mb-3">
    <%= form.label :recipient_id, "Recipient" %>
    <%= form.collection_select :recipient_id, User.all, :id, :name, 
        { prompt: "Select a recipient" }, 
        class: "form-select", required: true %>
  </div>

  <div class="field mb-3">
    <%= form.label :amount %>
    <%= form.number_field :amount, step: 0.01, class: "form-control", required: true %>
  </div>

  <div class="field">
  <%= form.label :description %>
  <% if @expense_descriptions.present? %>
    <%= form.select :description, @expense_descriptions, { prompt: "Select expense description" } %>
  <% else %>
    <p>No expenses found for this trip. Please enter a description manually.</p>
    <%= form.text_field :description %>
  <% end %>
</div>

  <div class="field mb-3">
    <%= form.label :date %>
    <%= form.date_field :date, class: "form-control", required: true %>
  </div>

  <div class= "field">
    <%=form.label :currency%>
    <%= form.select :currency,
    ['USD', 'GBP', 'CAD', 'EURO', 'AUD', 'JPY'], { prompt: "Select currency" }%>
  </div>

  <div class="actions">
    <%= form.submit "Create Payment", class: "btn btn-primary" %>
  </div>
<% end %>