<%= form_with(model: trip, class: "trip-form") do |form| %>
  <% if trip.errors.any? %>
    <div class="error-explanation">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
        <% trip.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "form-input" %>
  </div>

  <div class="form-field">
    <%= form.label :start_date, style: "display: block" %>
    <%= form.date_field :start_date, class: "form-input" %>
  </div>

  <div class="form-field">
    <%= form.label :end_date, style: "display: block" %>
    <%= form.date_field :end_date, class: "form-input" %>
  </div>

  <div class="form-field">
    <%= form.label :user_id, "Trip Owner", style: "display: block" %>
    <%= form.collection_select :user_id, User.all, :id, :name, { prompt: "Select owner" }, class: "form-input" %>
  </div>

  <div class="form-actions">
    <%= form.submit "Create Trip", class: "btn-submit" %>
  </div>
<% end %>