---
layout: layout2
title: News
---

<body class="news-page">

  <h2>Research</h2>
  <h3>Publications</h3>

  <ul>
    <% data.research.publications.each do |publication| %>
      <li>
        <strong><%= publication.title %></strong><br>
        <%= publication.authors %><br>
        <%= publication.venue %>
      </li>
    <% end %>
  </ul>

  <h3>Dissertation & Reports</h3>

  <ul>
    <% data.research.dissertations.each do |dissertation| %>
      <li>
        <strong><%= dissertation.title %></strong><br>
        <%= dissertation.details %>
      </li>
    <% end %>
  </ul>
</body>